<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear />
    <add key="nuget.org"
         value="https://api.nuget.org/v3/index.json"
         protocolVersion="3" />
    <add key="Git Hub"
         value="https://nuget.pkg.github.com/Mirko627/index.json"
         protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Git Hub">
      <package pattern="Mirko.*" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="%MIRKO_NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%MIRKO_NUGET_PWD%" />
    </github>
  </packageSourceCredentials>

</configuration>
